.analysis_display {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;

	.display {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		font-size: 1.6rem;
		font-weight: 400;
		height: 30rem;
		overflow-y: auto;

		@media (max-width: 1024px) {
			height: auto;
		}

		.text {
			display: flex;
			flex-direction: column;

			strong {
				color: var(--color-yellow);
				font-weight: 600;
			}
		}
	}

	.analysis_actions {
		display: flex;
		flex-wrap: wrap;
		gap: 1.2rem;
		width: 100%;
	}
}
