.states_list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.8rem;
	font-size: 1.4rem;
	font-weight: 300;

	.state_item {
		display: flex;
		align-items: center;
		gap: 0.2rem;
		background-color: var(--color-dark);
		padding: 0.4rem 0.8rem;
		border-radius: 0.8rem;

		button {
			display: flex;
			align-items: center;
			background: none;
			font-size: 1.6rem;
			color: var(--color-yellow);
		}
	}
}
