.high_level_solutions {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	.class_item {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
		padding-bottom: 2rem;
		border-bottom: 2px solid var(--color-gray);

		&:last-child {
			border-bottom-width: 0px;
			padding-bottom: 0px;
		}

		.title {
			display: flex;
			align-items: center;
			gap: 0.4rem;
			color: var(--color-yellow);
			font-size: 1.5rem;
			font-weight: 600;

			svg {
				color: var(--color-dark-yellow);
				font-size: 1.2rem;
			}
		}
	}
}
