.subheader {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	gap: 1.2rem;
	margin-bottom: -1.2rem;

	.toggle_button {
		background: var(--color-gray25);
		color: var(--color-light-gray);
		border: none;
		border-radius: var(--radius1);
		padding: 0.6rem 1.2rem;
		font-size: 1.2rem;
		font-weight: 500;
		cursor: pointer;
		border: 2px solid transparent;
		transition: background 0.18s, color 0.18s;

		&.active,
		&:focus {
			border: 2px solid var(--color-yellow);
			color: var(--color-yellow);
			outline: none;
		}
	}
}
