.analyses_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
	gap: 2.4rem;
	padding: 1.2rem 0;

	@media (max-width: 600px) {
		grid-template-columns: 1fr;
	}
}
