.four_tuples_list {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;

	.uca_section {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;

		.title {
			color: var(--color-yellow);
			font-size: 1.5rem;
			font-weight: 500;
		}
	}

	.message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.6rem;
		align-items: center;

		font-weight: 500;
		font-size: 1.4rem;
		color: var(--color-yellow);
		margin: 2rem 0;

		svg {
			font-size: 2.4rem;
		}
	}
}
