.modal_content {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;

	.message {
		text-align: left;
		font-size: 1.4rem;
		font-weight: 300;
		color: var(--color-white);

		strong {
			font-weight: 500;
			color: var(--color-yellow);
		}
	}
}
